.document-item .label {
  margin-right: 2px;
}
.document-item .label:last-child {
  margin-right: 0;
}

.filepicker-list {
  max-height: 300px;
  overflow: auto;
}

.gi-fw {
    width: 1.28571429em;
    text-align: center;
}

.flash-messages {
  position: fixed;
  top: 15px;
  z-index: 10000;
  width: 100%;
  opacity: .9;
}

.modal-confirm {
  z-index: 9999 !important;
}

.tag.label {
  cursor: pointer;
}
