<div ng-controller="AdminCtrl">

  <div class="row">

    <div class="col-sm-2">
      <!-- Nav tabs -->
      <ul id="admin-pages" class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" ng-repeat="view in adminPages"
            ng-class="{'active': $index == 0}">
        <a href="" data-target="#admin-{{ view }}" ng-click="selectTab($event)"
          style="text-transform:capitalize;">{{ view  }}</a></li>
      </ul>
    </div>

    <div class="col-sm-10">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane" id="admin-{{ view }}" role="tabpanel"
            ng-repeat="view in adminPages"
            ng-include="'views/admin/'+view+'.html'"
            ng-class="{'active': $index == 0}">
        </div>
      </div>
    </div>

  </div>

</div>

