<form ng-submit="saveDocument()" name="documentform">
  <div class="form-group">
    <input class="form-control" name="name" placeholder="Name"
        ng-model="docsForm.name" />
  </div>
  <div class="form-group">
    <textarea class="form-control" name="description" placeholder="Description" rows="2"
        ng-model="docsForm.description"></textarea>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <select class="form-control" multiple
            ng-options="cat.id as cat.name for cat in categories_available"
            ng-model="docsForm.categories"></select>
      </div>
      <div class="col-sm-6">
        <select class="form-control" multiple
            ng-options="tag.id as tag.name for tag in tags_available"
            ng-model="docsForm.tags"></select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <select class="form-control" ng-model="docsForm.drive"
            ng-options="drive.id as drive.name for drive in drives_available">
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input class="form-control"
          placeholder="/some/file.pdf" ng-model="docsForm.newFile" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="openFilePicker()"
          data-toggle="modal" data-target="#filepicker-modal"
          ><span class="glyphicon glyphicon-folder-open"></span></button>
      </span>
    </div>
  </div>

  <div class="form-group"
      ng-repeat="file in docsForm.files track by $index">
    <div class="input-group">
      <input class="form-control" name="file"
          placeholder="/some/file.pdf" ng-model="docsForm.files[$index]" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"
          ng-click="docsForm.files.splice($index,1)"
          ><span class="glyphicon glyphicon-remove"></span></button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success form-control"
      ng-disabled="documentform.$pristine">Save</button>
  </div>
</form>
