<div>
  <div class="modal-header">
    <h3 class="modal-title">Select a file or a folder</h3>
  </div>

  <div class="modal-body">
    <ol class="breadcrumb">
      <li ng-repeat="folder in cwd track by $index"
          ng-click="cd($index)">
          <a href="#">{{ folder }}</a></li>
    </ol>

    <div class="filepicker-list list-group">
      <a href="#" class="list-group-item"
        ng-class="{'active': (selected==item.file)}"
        ng-repeat="item in dirContent"
        ng-click="cd(item)">
        <span class="glyphicon glyphicon-{{ item.icon }} gi-fw"></span>
        <span> {{ item.file }}</span>
        <small class="pull-right" ng-if="!item.isdir"><i>{{ item.size | bytes }}</i></small>
      </a>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal"
        ng-click="select()">
      OK</button>
  </div>
</div>
